/* Add a black background color to the top navigation */
.navbar {
    background-color: gray;
    overflow: hidden;
    display: block;
  }
  
  .navbar .logo{
    padding: 10px 16px;
    float: left;
  }
  
  /* Style the links inside the navigation bar */
  .navbar a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .navbar a:hover {
    background-color: beige;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .navbar a.active {
    background-color: #04AA6D;
    color: white;
  }

  .navbar a .quick:before {
    content:url(http://placehold.it/50x50);
  }
  
  .navbar a .support:before {
    content:url(http://placehold.it/35x35);
  }
  
  .navbar a .account:before {
    content:url(http://placehold.it/40x40);
  }
  
  .navbar a .logout:before {
    content:url(http://placehold.it/45x45);
  }
  
  .navbar .logo:before {
    content:url(http://placehold.it/55x55);
  }
  
  .navbar .hello {
    text-align: center;
    color: aliceblue;
  }
  
.menu {
  background: rgba(5, 68, 104, 0.5);
    position: fixed;
    width: 225px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
    display: block;
}

  .menu a{
    display: block;
    padding: 13px 30px;
    border-bottom: 1px solid #10558d;
    color: rgb(241, 237, 237);
    font-size: 16px;
    position: relative;
  }

  .menu a:hover,
  .menu a.active{
    color: #0c7db1;

    background:white;
    border-right: 2px solid rgb(5, 68, 104);
  }


  .menu a:hover:before,
  .menu a.active:before{
    display: block;
  }